<!DOCTYPE html>
<html>
<head>

<title>ROV Hero Database</title>

<style>

body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
padding-top:100px;
}

input{
padding:8px;
margin:5px;
}

button{
padding:8px 15px;
background:#3b82f6;
border:none;
color:white;
border-radius:5px;
}

</style>

</head>

<body>

<h1>🎮 ROV Hero Database</h1>

<style>

.card{

background:#1e293b;

padding:20px;

border-radius:10px;

width:220px;

text-align:center;

box-shadow:0 0 10px black;

}

.bar{

background:#444;

width:200px;

height:10px;

margin:auto;

}

</style>

{% block content %}

{% endblock %}

</body>
</html>